<mat-card class="form-class">
  <div *ngIf="!toggle; else elseBlock">
    <form [formGroup]="registrationSpForm" (ngSubmit)="addServiceProvider()">
      <mat-card-title>Service Provider Registration</mat-card-title>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Company Name</mat-label>
          <input matInput placeholder="Company Name" formControlName="companyName" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Owner Name</mat-label>
          <input matInput placeholder="Owner Name" formControlName="ownerName" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="emailId" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number" formControlName="phoneNum" />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'text' : 'password'" placeholder="Password" formControlName="password" />
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibilit' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
      </div>

      <button type="submit" mat-raised-button color="primary">Next</button>
      <mat-hint style="color: red">{{ errorMessage }}</mat-hint>
      <div routerLink="/splogin">Already have account?</div>
    </form>
  </div>

  <ng-template #elseBlock>
    <form [formGroup]="addressForm" (ngSubmit)="addServiceProviderAddress()">
      <mat-card-title>Registration Form</mat-card-title>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Address Line</mat-label>
          <input matInput placeholder="Address" formControlName="houseAddress" />
          <mat-icon matSuffix>home</mat-icon>
          <mat-hint style="color: red">{{ errorMessage }}</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Area</mat-label>
          <input matInput placeholder="Area" formControlName="area" />
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city" />
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <input matInput placeholder="State" formControlName="state" />
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country" formControlName="country" />
          <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Pincode</mat-label>
          <input matInput type="number" placeholder="Pincode" formControlName="pincode" />
          <mat-icon matSuffix>explore</mat-icon>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary">Submit</button>
      <mat-hint style="color: red">{{ errorMessage }}</mat-hint>
    </form>
  </ng-template>
</mat-card>
