<mat-card class="mat-elevation-z4">
  <mat-grid-list cols="3" rowHeight="4:1.5">
    <mat-grid-tile>
      <mat-card class="mat-elevation-z4">
        <mat-card-content>
          <p>Want to expand you services? Have you wondered how to do it?</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="mat-elevation-z4">
        <mat-card-content>
          <p>Let the world know about your service and bring in customers..</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="mat-elevation-z4">
        <mat-card-content>
          <p>We have got you covered.. Add your services Now !!</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button style="float: center" mat-raised-button (click)="addService()">Add Service</button>
</mat-card>
