.cartList {
  width: 60%;
  display: inline;
  float: left;
  margin-left: 20px;
}
.float {
  float: right;
}
button {
  margin: 5px;
}
app-bill-card {
  width: 30%;
  float: left;
  margin: 8px;
  display: inline;
  position: fixed;
}
h1 {
  margin-left: 20px;
}
