img {
    height: 45%;
    width: 40%;
    border-radius: 10px;
  }
  .inline {
    display: inline-block;
  }
  
  .container {
    margin: 30px;
    width: 90%;
  }
  
  .card-content {
    float: right;
    width: 60%;
    height: 200px;
    padding: 10px;
  }
  mat-card {
    height: 190px;
  }
  
  button {
    background-image: linear-gradient(to right, #fc4a1a, #f7b733);
  }
  h4 {
    font-size: 22px;
  }
  span {
    font-size: 15px;
  }
  