input[type='text'] {
  width: 100%;
  margin-left: 50px;
  border-style: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url('search.ico'); //TODO: Move this search icon to assets
  background-position: 12px 12px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

  &:focus {
    outline: none;
  }
}
