<app-nav-bar [userType]="'sp'"></app-nav-bar>
<app-add-service-card></app-add-service-card>

<!-- <div class="container mt-5">
    <h2>Google Login</h2>
    <div class="row mt-5">
        <div class="col-md-4 mt-2 m-auto ">
            <button class="loginBtn loginBtn--google" #loginRef>
                Login with Google
            </button>
        </div>
    </div>
</div> -->

<!-- <div class="container mt-5">
    <h2>Facebook Login</h2>
    <div class="row mt-5">
        <div class="col-md-4 mt-2 m-auto ">
            <button class="loginBtn loginBtn--facebook" (click)="">
                Login with Facebook
            </button>
        </div>
    </div>
</div> -->

<div style="display: flex; align-items: center; justify-content: center">
  <h3 style="font-family: montserrat">Google Social Login</h3>
</div>
<div #loginRef>
  <mat-icon style="width: 50px; height: 30px" svgIcon="logo"></mat-icon>
  <button mat-button matstyle="padding: 1rem;">Login With Google</button>
</div>

<button #loginRef>Login With Google</button>

<div class="container mt-5">
  <h2>Google Login</h2>
  <div class="row mt-5">
    <div class="col-md-4 mt-2 m-auto">
      <button class="loginBtn loginBtn--google" #loginRef>Login with Google</button>
    </div>
  </div>
</div>
