mat-icon {
  cursor: pointer;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 45%;
  font-size: 30px;
  font-weight: bold;
}
.content {
  width: 60%;
  margin-left: 20%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.6em 0px !important;
  width: 230px;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}
::ng-deep .mat-form-field {
  margin-left: 20px;
  margin-right: 10px;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
