.title {
  font-family: 'Harlow Solid';
  cursor: pointer;
  font-size: 30px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}

.navbar-align-last {
  position: absolute;
  right: 0px;
  top: 2px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  padding-right: 45px;

  mat-icon {
    margin: 5px 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
