<div class="container">
  <div id="header1">
    <div class="banner">
      <div class="navbar">
        <button class="btn">About</button>
        <button class="btn" routerLink="/registersp">Service Provider</button>
        <button class="btn" routerLink="/login">Login</button>
      </div>
      <div class="heading">
        <h1>At Your Service</h1>
        <h3>Home Services everyone needs on one place</h3>
      </div>

      <div class="search">
        <app-search-bar
          *ngIf="categoryNameList"
          [listData]="categoryNameList"
          (selectedData)="selectedDataHandler($event)"
          class="inline"
        ></app-search-bar>
      </div>
    </div>
  </div>
  <mat-card class="mat-elevation-z4">
    <mat-grid-list cols="4" rowHeight="4:1.5">
      <mat-grid-tile
        *ngFor="let category of categoryList"
        (click)="goListPage(category)"
      >
        <mat-icon>face</mat-icon>
        {{ category.categoryName }}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
