.container {
  position: relative;

  #header1 {
    background: url("src/app/assets/home_banner.jpg");
    background-size: cover;
    width: 100%;
    z-index: 1;
    position: absolute;

    .banner {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.1)
      );
      padding-top: 20px;
      padding-bottom: 200px;
      padding-left: 20px;
      padding-right: 20px;

      .navbar {
        float: right;
        display: block;
  
        .btn {
          padding: 5px;
          border-radius: 10px;
          border: 2px solid white;
          background-color: transparent;
          height: 45px;
          width: 160px;
          color: #fff;
          font-size: 1.3em;
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
          margin: 10px;
  
          &:hover {
            cursor: pointer;
            background-color: #fff;
            color: black;
          }
        }
      }

      .heading {
        margin-top: 130px;
        margin-left: 10%;
        text-align: center;
      }

      .search {
        margin-left: 25%;
        width: 90%;

        .inline {
          display: inline-block;
        }
      }
    }
  }
}

h1 {
  font-family: Georgia, serif;
  font-size: 40px;
  color: white;
  letter-spacing: 3px;
}
h3 {
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: white;
}

mat-card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 28%;
  border-radius: 10px;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
}

mat-grid-tile {
  transition: transform 0.3s;
}
mat-grid-tile:hover {
  cursor: pointer;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  border-radius: 20px;
  background-color: rgb(244, 248, 248);
}

#section2 {
  height: 600px;
  background-color: yellow;
}
