:host {
  .bill {
    padding: 10px;
  }
  .cart-icon {
    font-size: 50px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trans-total {
    font-size: 20px;
  }
}
