<app-nav-bar [userType]="'sp'"></app-nav-bar>
<p style="size: 40">
  Status :
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold" (click)="selectedValueHandler('ongoing')">Ongoing</mat-button-toggle>
    <mat-button-toggle value="italic" (click)="selectedValueHandler('completed')">Completed</mat-button-toggle>
  </mat-button-toggle-group>
</p>

<mat-card class="mat-elevation-z4">
  <div *ngFor="let bill of billings" class="bill row">
    <div class="col-8">
      <div class="row">
        <div class="col-1"><mat-icon class="cart-icon">add_shopping_cart</mat-icon></div>
        <div class="col-2 center">Billing Id : {{ bill.billingId }}</div>
        <div class="bill-cost col-4 center">
          <h2>Bill Cost: {{ bill.cost | number: '1.0-0' }}</h2>
        </div>
        <div class="bill-gst col-5 center">
          <h2>Billing Amount with GST: {{ bill.totalCost | number: '1.0-0' }}</h2>
        </div>
      </div>
      <div class="trans row">
        <div class="trans-list col-6 center">
          <mat-selection-list #transaction>
            <div *ngFor="let trans of bill.transactions">
              <mat-list-option *ngIf="trans.status === selectedToggle" [value]="trans.transactionId">
                <div>
                  Id :
                  {{ trans.transactionId }}
                  Amount :
                  {{ trans.transactionAmount }}
                </div>
              </mat-list-option>
            </div>
          </mat-selection-list>
        </div>
        <div class="trans-total col-6 center">
          <p>Transaction selected: {{ transaction.selectedOptions.selected.length }}</p>
        </div>
      </div>
    </div>

    <div class="status center col-4">
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="changeTransStatus(transaction)">CHANGE STATUS</button>
      </mat-card-actions>
    </div>
    <hr />
  </div>
</mat-card>
