:host {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 45%;
    font-size: 30px;
    font-weight: bold;
  }
  .header-button {
    margin-left: 45%;
    margin-top: 20px;
  }

  .content {
    width: 60%;
    margin-left: 20%;

    .report-btn {
      float: right;
    }

    .list-item {
      margin: 20px 0px;

      .title {
        font-weight: bold;
      }
      .status {
        justify-content: flex-end;
        .status-btn {
          width: 200px;
          cursor: auto;
        }
      }
      .amt {
        font-size: 20px;
        font-weight: bold;
        del {
          font-size: 15px;
          font-weight: lighter;
        }
        .saved-amt {
          font-size: 13px;
          color: forestgreen;
          font-weight: bold;
        }
      }
    }
  }
}

.inline {
  display: inline-block;
}

p {
  font-size: 15px;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-left: 5px;
  margin-right: 10px;
}
.rating {
  padding: 7px;
  padding-top: 3px;
}

mat-icon {
  font-size: 30px;
}
mat-icon:hover {
  cursor: pointer;
}
.gold-icon {
  color: #f5af19;
}
