<app-nav-bar [userType]="'customer'"></app-nav-bar>

<div class="header">My Booking</div>
<div class="header-button">
  <app-toggle-button [list]="toggleList" (selectedValue)="selectedValueHandler($event)"></app-toggle-button>
</div>

<div class="content">
  <button mat-raised-button (click)="sortBy('date')">Sort by Date</button>
  <button mat-raised-button *ngIf="!visibleTxn" class="report-btn" (click)="downloadReport()">Download Report</button>
  <ng-container *ngIf="visibleTxn; else elseCompleted">
    <div *ngIf="!currentList; else emptyElse">
      <app-empty-card></app-empty-card>
    </div>
    <ng-template #emptyElse>
      <div *ngFor="let txn of currentList | orderBy: key:reverse">
        <div class="row list-item">
          <div class="col-9">
            <h3 class="title">{{ txn.serviceId }}</h3>
            <div>
              <p>{{ txn.date | date: 'mediumDate' }}</p>
              <p>{{ txn.date | date: 'shortTime' }}</p>
            </div>
          </div>
          <div class="col-3">
            <div class="row amt">
              <span>{{ txn.transactionAmount | currency: 'INR' }}</span>
              <span *ngIf="txn.transactionAmount != txn.originalCost">
                <del>{{ txn.originalCost | currency: 'INR' }}</del>
              </span>
              <span class="saved-amt" *ngIf="txn.transactionAmount != txn.originalCost"
                >You have saved {{ txn.originalCost - txn.transactionAmount | currency: 'INR' }}</span
              >
            </div>
          </div>

          <div class="row status">
            <button mat-raised-button color="warn" class="status-btn">
              {{ txn.status }}
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #elseCompleted>
    <div *ngFor="let txn of completedList | orderBy: key:reverse">
      <div class="row list-item">
        <div class="col-9">
          <h3 class="title">{{ txn.serviceId }}</h3>
          <div>
            <p>{{ txn.date | date: 'mediumDate' }}</p>
            <p>{{ txn.date | date: 'shortTime' }}</p>
          </div>
        </div>
        <div class="col-3">
          <div class="row amt">
            <span>{{ txn.transactionAmount | currency: 'INR' }}</span>
            <span class="saved-amt" *ngIf="txn.transactionAmount != txn.originalCost"
              >You have saved {{ txn.originalCost - txn.transactionAmount | currency: 'INR' }}</span
            >
          </div>
        </div>
        <div class="row status">
          <button mat-raised-button color="warn" [matMenuTriggerFor]="aboveMenu" class="status-btn">Rate It</button>
          <mat-menu #aboveMenu="matMenu" yPosition="above">
            <div *ngFor="let l of ratingList" class="inline rating">
              <mat-icon *ngIf="ratingStarValue >= l" class="inline gold-icon" (click)="updateRating(l, txn)">star</mat-icon>
              <mat-icon
                *ngIf="ratingStarValue < l"
                [ngClass]="txn?.transactionRating >= l ? 'gold-icon' : ''"
                class="inline"
                (mouseenter)="mouseOverHandler(l)"
                >{{ txn?.transactionRating >= l ? 'star' : 'star_border' }}</mat-icon
              >
            </div>
          </mat-menu>
          <button mat-raised-button color="warn" class="status-btn">
            {{ txn.status }}
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </ng-template>
</div>

<app-footer></app-footer>
