.search {
    margin-top: 20px;
    margin-left: 10%;
  }
  .inline {
    display: inline-block;
  }
  
  mat-card {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  mat-grid-tile {
    transition: transform 0.3s;
  }
  mat-grid-tile:hover {
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    border-radius: 20px;
    background-color: rgb(244, 248, 248);
  }
  
  mat-label {
    font-size: 28px;
  }
  
  .services {
    margin-left: 5%;
    margin-top: 3%;
  }
  
  app-image-card {
    transition: transform 0.3s;
    margin: 10px;
    margin-top: 30px;
  }
  
  app-image-card:hover {
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    border-radius: 20px;
  }

  /*


  */

  button {
    background-image: linear-gradient(to right, #fc4a1a, #f7b733);
    left: 45%;
  }
  