<app-nav-bar [userType]="'sp'"></app-nav-bar>

<div class="jumbotron" id="header1" *ngIf="serviceProvider">
  <div class="banner">
    <h1>{{ serviceProvider.companyName }}</h1>
    <app-rating [rating]="serviceProvider.spRating ? serviceProvider.spRating : '3'"></app-rating>
    <mat-label>{{ serviceProvider.emailId }}</mat-label>
    <mat-label>{{ serviceProvider.phoneNumber }}</mat-label>
  </div>
</div>

<app-add-service-card></app-add-service-card>

<mat-divider></mat-divider>
<div class="sub-title">My Services</div>
<table *ngIf="serviceList">
  <tr *ngFor="let service of serviceList">
    <td>
      <mat-divider></mat-divider>
      <app-sp-service-card class="inline" [service]="service" [button]="true"> </app-sp-service-card>
    </td>
  </tr>
</table>
